@import "vendor/colors";

.cookiemessage {
  $this: &;
  position: fixed;
  padding: 1.5rem;
  background-color: #000000;
  color: $color-text;
  transform: translate(0, 110%);
  transition: transform 0.5s ease-in;

  &--loaded {
    transform: translate(0, 0);
  }

  &__link {
    color: currentColor;
    text-decoration: underline;
    padding: 0 10px;
  }

  &--bar {
    padding: 1rem;
    text-align: center;
    z-index: 100;
  }

  &--window {
    max-width: 25rem;
    padding: 1.5rem;
    z-index: 100;
  }

  &--b {
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--br {
    bottom: 1rem;
    right: 1rem;
  }

  &--bl {
    bottom: 1rem;
    left: 1rem;
  }

  &__btn {
    width: auto;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    background-color: $color-border;
    color: white;
    cursor: pointer;
    border-width: 0;
    transition: background-color 0.2s ease 0s, text-shadow 0.2s ease 0s;

    &:hover {
      filter: brightness(85%);
    }

    &:active {
      filter: brightness(85%);
    }

    .cookiemessage--window & {
      display: block;
      width: 100%;
      margin: 1rem 0 0;
    }
  }
}

.cookiemessageloaded {
  transition: padding-bottom 0.5s ease-in;
}
