/*
Cookiemessage

Markup: ../../../Templates/Styleguide/04_components/cookiemessage.html

Styleguide 6.22
*/

@import "vendor/colors";

.cookiemessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background-color: $color-background;
  color: $color-text;
  z-index: 100;
  border-top: 1px solid $color-border;
  transform: translate(0, 100%);
  transition: transform 0.5s ease-in;

  &--loaded {
    transform: translate(0, 0);
  }

  &__link {
    color: currentColor;
    text-decoration: underline;
    padding: 0 10px;
  }
}

.cookiemessageloaded {
  transition: padding-bottom 0.5s ease-in;
}
