@import "vendor/normalize";
@import "vendor/colors";


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'arial', sans-serif;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  padding-top: 100px;
}

h2 {
  text-align: center;
}

.pageheader {
  padding: 0.5rem;
  color: $color-text;
  background-color: $color-background;
  text-align: center;
  margin: 0 0 3rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.svgicon {
  vertical-align: bottom;
  margin: 0 0.5rem 0 0;
}

.calltoactionbar {
  text-align: center;
  margin: 0 0 2rem;

  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.resetcookiewrap {
  text-align: center;
}

.positionbuttonswrap {
  margin: 0 auto 2rem;
  max-width: 400px;
}

.positionbuttons {
  text-align: center;
  margin: 0 0 0.5rem;

  @media (min-width: 450px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.btn {
  width: auto;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  background-color: $color-border;
  color: white;
  cursor: pointer;
  border-width: 0;
  transition: background-color 0.2s ease 0s, text-shadow 0.2s ease 0s;

  &:hover {
    background-color: lighten($color-light, 8%);
    color: $color-border;
  }

  &:active {
    background-color: darken($color-light, 8%);
  }

  &--cta {
    margin: 0.5rem;
    display: block;

    @media (min-width: 600px) {
      width: calc(50% - 1rem);

      &:first-child {
        width: 100%;
      }
    }
  }

  &--position {
    display: block;
    width: 100%;
    margin: 0.5rem 0;

    @media (min-width: 450px) {
      width: 120px;
    }
  }
}

.docu-section {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid currentColor;
}

.docu-settings {
  display: block;

  &__setting {
    font-weight: bold;
  }

  &__type {

    &:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  &__default {

    &:before {
      content: 'Default: ';
      font-weight: bold;
    }
  }

  &__example {

    &:before {
      content: 'Example: ';
      font-weight: bold;
    }
  }

  &__desc {
    font-style: italic;
  }
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid $color-border;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
